<% include ./partials/header %>
<div class="red lighten-5">
    <div class="text-center p-5  ">
            <h1><img src="https://bhagavadgita.io/static/images/radhakrishna.png"></h1>
    </div>
    <div class="ui three column grid  p-5">
        <% data.data.forEach(function(item){%>
        <div class=" column ">
           <div class="ui segment p-0">
                <div class="text-center peach-gradient rounded p-3">
                    <h5>Chapter Number : <%= item.chapter_number %></h5>
                    <h4><%=item.name_meaning.replace(/["']/g,"")%></h4>
                  
                </div>
                <div class="p-3 teal accent-1 ">
                <p>  <%= item.chapter_summary.replace(/["']/g,"").substring(0,300) %>...</p>
                <div class="text-center">
                    <a class="btn btn-light-green" href="/chapter/show/<%= item.chapter_number%>">view</a>
                </div>
                </div>
          </div>
        </div>
       <% })%>
    </div>
</div>
<% include ./partials/footer %>
